<h1 class="mt-5">Selectores Anidados</h1>
<hr>

<form [formGroup]="myForm">

    <!-- Region -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">
                Continente
            </label>
            <select formControlName="region" class="form-select">
                <option value="" >
                    Seleccione Continente
                </option>
                <option *ngFor="let region of regions" [value]="region" >
                    {{region}}
                </option>
            </select>
        </div>
    </div>

    <!-- Countries -->
    <div class="row mb-3" *ngIf="countriesByRegion.length > 0">
        <div class="col">
            <label class="form-label">
                País:
            </label>
            <select  formControlName="country" class="form-select" >
                <option value="" selected>
                    ---Seleccione País--- 
                </option>
                <option *ngFor="let countries of countriesByRegion" [value]="countries.cca3">
                   {{countries.name}}
                </option>
            </select>
        </div>
    </div>

    <!-- Borders -->
    <div class="row mb-3" *ngIf="countryBorder.length > 0">
        <div class="col">
            <label class="form-label">
                Frontera
            </label>
            <select  formControlName="border" class="form-select" >
                <option value="" selected>
                    Seleccione Frontera
                </option>
                <option *ngFor="let border of countryBorder" [value]="border.name">
                    {{border.name}}
                </option>
            </select>
        </div>
    </div>
</form>
<h3>Formulario</h3>
<code>
    {{myForm.value | json}}
</code>
<p>
    is Form Valid: {{myForm.valid}}
</p>
